<header class="w-full bg-deepSeaBlue text-white shadow-md">
  <div class="max-w-full px-4 py-3 flex justify-between items-center md:px-3">
    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <img src="../../assets/images/app-logo.png" alt="cyber-sentinel logo" class="w-8 h-8" />
      <span class="text-white text-lg font-semibold">CYBER SENTINEL</span>
    </div>

    <!-- Hamburger (Mobile Only) -->
    <button class="md:hidden focus:outline-none" (click)="isMenuOpen = !isMenuOpen">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
           viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
        <path d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Desktop Nav -->
    <nav class="hidden md:flex items-center space-x-4">
      <a routerLink="/dashboard" class="hover:underline">Dashboard</a>
      <a *ngIf="profile?.fullName" routerLink="/profile" class="hover:underline">{{profile.fullName}}</a>

      <!-- Profile Dropdown -->
      <div class="relative group">
        <button class="flex items-center space-x-2 focus:outline-none">
          <img [src]="profile.imageBase64" alt="Profile" class="w-8 h-8 rounded-full border-2 border-white" />
        </button>
        <div
          class="absolute right-0 mt-2 w-48 bg-white text-gray-700 rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-200">
          <a routerLink="/profile" class="block px-4 py-2 hover:bg-gray-100">Profile</a>
          <a routerLink="/dashboard" class="block px-4 py-2 hover:bg-gray-100">Dashboard</a>
          <a *ngIf="!isAuthenticated" routerLink="/login" class="block px-4 py-2 hover:bg-gray-100">Sign In</a>
          <button *ngIf="isAuthenticated" (click)="onLogoutBtnClick()" class="block w-full text-left px-4 py-2 hover:bg-gray-100">
            Sign Out
          </button>
        </div>
      </div>
    </nav>
  </div>

  <!-- Mobile Nav Menu -->
  <div *ngIf="isMenuOpen" class="md:hidden px-4 pb-3">
    <div class="bg-gray-100 text-gray-800 rounded-md p-3 w-full max-w-xs ml-auto space-y-2 shadow-lg">
      <a routerLink="/dashboard" class="block hover:underline">Dashboard</a>
      <a *ngIf="profile?.fullName" routerLink="/profile" class="block hover:underline">{{profile.fullName}}</a>
      <hr class="border-gray-300" />
      <a routerLink="/profile" class="block px-2 py-1 hover:bg-gray-200 rounded">Profile</a>
      <a routerLink="/dashboard" class="block px-2 py-1 hover:bg-gray-200 rounded">Dashboard</a>
      <a *ngIf="!isAuthenticated" routerLink="/login"
         class="block px-2 py-1 hover:bg-gray-200 rounded">Sign In</a>
      <button *ngIf="isAuthenticated" (click)="onLogoutBtnClick()"
              class="block w-full text-left px-2 py-1 hover:bg-gray-200 rounded">Sign Out</button>
    </div>
  </div>
</header>
