/* You can add global styles to this file, and also import other style files */

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

#toast-container {
  z-index: 9999 !important;
}

.partial-underline {
  position: relative;
  display: inline-block;
}

.partial-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Start from 0 */
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s, opacity 0.3s;
  opacity: 0;
}

.partial-underline:hover::after {
  width: 30%;
  opacity: 1;
}



